IBM/Nodemcu/node-red.json
[{"id":"45eab195.2dd98","type":"tab","label":"Flow 1"},{"id":"7a8a10b7.e5919","type":"ibmiot in","z":"45eab195.2dd98","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"demoDevice","applicationId":"","deviceType":"NodeMcu","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":130,"y":120,"wires":[["7d4edf72.c13ac"]]},{"id":"d492af7c.cc98","type":"debug","z":"45eab195.2dd98","name":"","active":false,"console":"false","complete":"false","x":570,"y":120,"wires":[]},{"id":"7d4edf72.c13ac","type":"function","z":"45eab195.2dd98","name":"Get ADC Value","func":"\nreturn {payload:msg.payload.d.adc};","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["d492af7c.cc98","f2c4df0f.2c53b","475e4347.9065ac"]]},{"id":"f2c4df0f.2c53b","type":"ui_chart","z":"45eab195.2dd98","tab":"54b1bec6.985cf","name":"ADC Value","group":"ADC","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":570,"y":160,"wires":[[],[]]},{"id":"475e4347.9065ac","type":"ui_gauge","z":"45eab195.2dd98","tab":"54b1bec6.985cf","name":"Current","group":"ADC","order":1,"format":"{{value}}","min":0,"max":"1024","x":560,"y":200,"wires":[]},{"id":"78899ef.d83ee6","type":"ui_switch","z":"45eab195.2dd98","tab":"54b1bec6.985cf","name":"Switch","topic":"led","group":"LED","order":1,"onvalue":"1","offvalue":"0","x":130,"y":320,"wires":[["111f6aa3.dc5fb5","f3bc1cbd.c854e"]]},{"id":"111f6aa3.dc5fb5","type":"debug","z":"45eab195.2dd98","name":"","active":false,"console":"false","complete":"false","x":550,"y":360,"wires":[]},{"id":"f3bc1cbd.c854e","type":"ibmiot out","z":"45eab195.2dd98","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"demoDevice","deviceType":"NodeMcu","eventCommandType":"led","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":320,"wires":[]},{"id":"c96c81a2.97dbe","type":"http in","z":"45eab195.2dd98","name":"High adc alert","url":"/alert","method":"post","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["8e6702f0.31d0c","647921e8.b7412"]]},{"id":"49c77f48.ba92f","type":"ui_toast","z":"45eab195.2dd98","name":"","x":550,"y":420,"wires":[]},{"id":"ae4f259f.d7a2d8","type":"debug","z":"45eab195.2dd98","name":"","active":false,"console":"false","complete":"payload","x":550,"y":460,"wires":[]},{"id":"8e6702f0.31d0c","type":"function","z":"45eab195.2dd98","name":"Show toast content","func":"var adcValue=0;\nvar time=msg.payload.timestamp;\nvar msgStr=msg.payload.message;\nvar msgObj = JSON.parse(msgStr);\nadcValue=msgObj.d.adc;\nvar date = new Date(parseInt(time)).toISOString();\nvar content={};\ncontent.payload=\"High ADC at \"+date+\" with value \" +adcValue;  ;\ncontent.topic=\"High ADC\";\nreturn content; ","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["ae4f259f.d7a2d8","49c77f48.ba92f"]]},{"id":"77a6f425.d7b74c","type":"ibmiot out","z":"45eab195.2dd98","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"demoDevice","deviceType":"NodeMcu","eventCommandType":"highadc","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":540,"wires":[]},{"id":"647921e8.b7412","type":"function","z":"45eab195.2dd98","name":"Map to blockchain sv","func":"\nvar adcValue=0;\nvar time=msg.payload.timestamp;\nvar msgStr=msg.payload.message;\nvar msgObj = JSON.parse(msgStr);\nadcValue=msgObj.d.adc;\nvar date = new Date(parseInt(time)).toISOString();\nvar content={};\ncontent.id=\"demoDevice\";\ncontent.company=\"T2Techhub\";\ncontent.value=adcValue;\ncontent.lat=21.015366;\ncontent.lon=105.782269;\nreturn {payload:{d:content}}; ","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["37cf722d.d152fe","77a6f425.d7b74c"]]},{"id":"37cf722d.d152fe","type":"debug","z":"45eab195.2dd98","name":"","active":true,"console":"false","complete":"false","x":550,"y":600,"wires":[]},{"id":"54b1bec6.985cf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]